.App {
  text-align: center;
}

button {
  color: black;
  background-color: lightblue;
  margin: 5px;
  height: 30px;
  width: 200px;
  font-size: 12pt;
  border-radius: 50px;
  text-decoration: none;
  border: 2px solid white;
}
